name: Build DiscordRPC

on:
  release:
    types: [created]

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build with Flet Pack
      run: |
        flet pack main.py --name "DiscordRPClzrk" --product-name "Custom RPC" --product-version "1.0.0" --copyright "lzrk"

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/discordrpc.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
